.container{
    width: 90%;
    margin: 2em 4em 3.5em 3.5em;
    border:  solid 1px rgb(244, 242, 242);
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1), 
                4px 0px 10px rgba(0, 0, 0, 0.1), 
                -4px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.infoEmpleado_h2{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(97, 97, 195);
}

.row{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    gap: .2em;

}
 
.infoE_label{
 
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(97, 97, 195);
}

.form{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.infoE_input{
    height: 25px;
    border-radius: 5px;
   
  
    padding-left: 1em;
    
}

.form #nombreEmpleado{
    width: 285%;
}

.form #nombreEmpresa{
    width: 285%;
}

.form #direccion{
   margin-left: 20em;
}

.form #labelDireccion{
    margin-left: 20.5em;
 }

 .form #labelFechaN{
    margin-left: 20.5em;
 }

 .form #fechaNacimiento{
    margin-left: 20em;
 }