<div class="container">
    <h2>Prestamos al empleado</h2> 

    <table class="table">
        <thead>
            <th>Fecha del prestamo</th>
            <th>Valor del Prestamo</th>
            <th>Cuotas acordadas</th>
            <th>Valor Pagado</th>
        </thead>
        <tbody>
            <tr></tr>
            <td>{{fechaPrestamo}}</td>
            <td>{{valorPrestamo}}</td>
            <td>{{cuotasAcordadas}}</td>
            <td>{{valorPagado}}</td>
        </tbody>
    </table>
</div>
